<!-- Footer -->
<footer class="py-5 border-t border-zinc-200 dark:border-zinc-800 mt-auto">
  <div class="mx-auto px-4 lg:px-8">
    <!-- Social Media Links -->
    <div class="flex justify-center gap-6 mb-6">
      <a href="https://x.com/dr4gon59" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
        <ng-icon hlm size="base" name="remixTwitterXFill" />
      </a>
      <a href="https://github.com/scriptsl0th/" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
        <ng-icon hlm size="base" name="radixGithubLogo" />
      </a>
      <a href="https://www.linkedin.com/in/dridi-aziz/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
        <ng-icon hlm size="base" name="radixLinkedinLogo" />
      </a>

      <a href="mailto:dridiaziz28@gmail.com" aria-label="Email">
        <ng-icon hlm size="base" name="radixEnvelopeClosed" />
      </a>
      <a href="tel:+21622368097" aria-label="Phone">
        <ng-icon hlm size="base" name="lucidePhone" />
      </a>
    </div>

    <!-- Copyright -->
    <div class="text-center border-gray-200 dark:border-gray-700">
      <p class="text-sm text-gray-500 dark:text-gray-400">
        © {{ date() }} Aziz Dridi. All rights reserved.
      </p>
    </div>
  </div>
</footer>